/* Color Palette */
:root {
  --tomato: #c0392b; /* Updated to a darker, richer red */
  --tomatoTint: #d34d3f;
  --white: #ffffff;
  --pastelBlue: #31959d;
  --creamYellow: #fef1d1;
  --pastelGreen: #a2e9bf;
  --pastelGreenTint: #bbefd1;
  --pastelYellow: #fcaa23;
  --pastelYellowTint: #fcbb51;
  --pastelOrange: #ff661e;
}

.bubbler-one-regular {
  font-family: "Bubbler One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-display-400 {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-serif-display-300 {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Global Styles */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #fef1d1;
}

.navbar {
  padding: 1rem;
  background-color: var(--tomato);
}

.navbar .navbar-toggler {
  border-color: #ffffff;
}
.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:active,
.navbar .navbar-toggler:hover {
  border-color: #ffffff;
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
  font-weight: bold;
}

.text-tomato {
  color: var(--tomato) !important;
}

.bg-tomato {
  background-color: var(--tomato) !important;
}

.bg-creamYellow {
  background-color: var(--creamYellow) !important;
}

.hero {
  background-color: var(--tomato);
  height: 60vh;
  background-image: url(https://images.pexels.com/photos/19260836/pexels-photo-19260836/free-photo-of-top-view-of-pizza.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgb(192, 57, 43, 0.9);
}

.btn-light {
  color: var(--tomato);
}

.menu-section h2 {
  font-size: 2.5rem;
}

.card-title {
  font-size: 1.25rem;
}

footer {
  border-top: 2px solid var(--tomato);
}

/* Font Settings */
body {
  font-family: "Open Sans", sans-serif;
}

.navbar-brand,
.hero h1,
.menu-section h2,
footer h5 {
  font-family: "Lobster", cursive;
}

.card-img-overlay {
  font-family: "Lobster", cursive;
  background-color: rgba(0, 0, 0, 0.3);
}

p,
.nav-link {
  font-family: "Open Sans", sans-serif;
}

.form-control,
.btn {
  border-radius: 0;
}

.contact-details i {
  color: var(--tomato);
  font-size: 1.5rem;
}

.btn-pastelYellow {
  background-color: var(--pastelYellow);
}

.btn-pastelGreen {
  background-color: var(--pastelGreen);
}

.btn-pastelBlue {
  background-color: var(--pastelBlue);
}

.btn-pastelOrange {
  background-color: var(--pastelOrange);
}

.menu-section {
  padding: 50px 0;
}
.category {
  margin-bottom: 40px;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #ddd; */
  padding: 15px 0;
}
.menu-item img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}
.price {
  font-weight: bold;
  color: #c0392b;
}
/* h2 {
  color: #c0392b;
} */

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 96;
}

.nav-tabs .active {
  background-color: var(--tomato) !important;
  color: white !important;
}

.menu-pizza-background {
  background-color: var(--tomato);
  /* height: 60vh; */
  background-image: url(https://img.freepik.com/premium-vector/drawing-pizza-with-different-toppings-it_1299084-2522.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right 5% top 150px;
  background-size: 500px;
  background-blend-mode: multiply;
  background-color: var(--creamYellow);
}

.multiply-blend-pastelGreen {
  background-color: var(--pastelGreen);
  mix-blend-mode: multiply;
}

.multiply-blend-pastelBlue {
  background-color: var(--pastelblue);
  mix-blend-mode: multiply;
}

.img-fixed {
  max-height: 300px; /* Set the desired height */
  object-fit: cover; /* Ensures the image fills the area without stretching */
  width: 100%; /* Makes the image take full width of the card */
}

.locations-quokka-background {
  background-color: var(--tomato);
  /* height: 60vh; */
  background-image: url(https://k40lasercutter.com/wp-content/uploads/2024/05/Free-Quokka-Iconic-Aussie-Animals-SVG-Black-and-White-SVG-Vector-File-for-Laser-Cutting-1.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right 10% top 30px;
  background-size: 300px;
  background-blend-mode: multiply;
  background-color: var(--creamYellow);
}

.nav-tabs .nav-link.active {
  border: none;
}

.menu-pizza-background-repeat {
  background-color: var(--tomato);
  /* height: 60vh; */
  background-image: url(https://img.freepik.com/premium-vector/drawing-pizza-with-different-toppings-it_1299084-2522.jpg);
  background-repeat: repeat;
  background-attachment: scroll;

  background-size: 100px;
  background-blend-mode: multiply;
  background-color: var(--creamYellow);
}
.menu-pizza-background-lg-repeat {
  background-color: var(--tomato);
  /* height: 60vh; */
  background-image: url(https://img.freepik.com/premium-vector/drawing-pizza-with-different-toppings-it_1299084-2522.jpg);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: right 15% top 20%;
  background-size: 500px;
  background-blend-mode: multiply;
  background-color: var(--creamYellow);
}

/* Custom style for order badges */
.order-badge {
  background-color: #05a357; /* UberEats green */
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.5em 1em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-right: 0.5em;
}
.order-badge:hover {
  background-color: #048c4a;
  color: #fff;
}
.takeout-badge {
  background-color: #007bff; /* Blue for Takeout */
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.5em 1em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.order-badge .bi,
.takeout-badge .bi {
  margin-right: 0.5em;
}
/* Center modal vertically */
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
}

.store-badge {
  width: 150px; /* Adjust badge size */
  margin: 0.5em;
}

@media (max-width: 1400px) {
  .display-5 {
    font-size: 2rem;
  }
}

@media (max-width: 1200px) {
  .display-5 {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  .display-5 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .display-5 {
    font-size: 0.75rem;
  }
}

.btn-pastelGreen:hover {
  background-color: var(--pastelGreenTint);
  color: black;
  opacity: 1;
}

.btn-pastelYellow:hover {
  background-color: var(--pastelYellowTint);
  color: black;
}

.nav-link,
.sitemap .btn:hover,
.sitemap .nav-item {
  transition: opacity 0.3s ease;
}

.navbar-nav:hover .nav-link:not(:hover) {
  opacity: 0.5;
}

.sitemap .nav-item:hover {
  opacity: 0.5;
}

.sitemap .btn:hover {
  opacity: 0.5;
}

.card {
  transition: opacity 0.3s ease; /* Smooth transition for opacity changes */
}

.card-row:hover .card:not(:hover) {
  opacity: 0.75;
}

@media (max-width: 1200px) {
  .menu-pizza-background {
    background-color: var(--tomato);
    /* height: 60vh; */
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right -20% top 90px;
    background-size: 225px;
    background-blend-mode: multiply;
    background-color: var(--creamYellow);
  }
}

.btn-tomato {
  background-color: var(--tomato);
}

.btn-tomato:hover {
  background-color: var(--tomatoTint);
}

@media (max-width: 1200px) {
  .img-fixed {
    max-height: 900px; /* Set the desired height */
    object-fit: cover; /* Ensures the image fills the area without stretching */
    width: 100%; /* Makes the image take full width of the card */
  }
}

.masonry-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.masonry-row {
  margin-bottom: 0.5rem;
}
